---
import { getCollection } from "astro:content";

import Group from '@cjwilliams/ui/Group.astro';
import Section from "@cjwilliams/ui/Section.astro";
import Description from "@cjwilliams/ui/typography/Description.astro";
import Detail from "@cjwilliams/ui/typography/Detail.astro";
import Item from "@cjwilliams/ui/typography/Item.astro";
import Link from "@cjwilliams/ui/typography/Link.astro";
import PageViewCounter from "../PageViewCounter.astro";
import PageViewSkeleton from "../PageViewSkeleton.astro";

const posts = await getCollection("blog");
---
<Section id="blog" name="Blog">
  {posts.sort((a, b) => b.data.publishedDate.getTime() - a.data.publishedDate.getTime()).map(post => (
    <Group>
      <Link href={post.id} group>
        <Item>{post.data.title}</Item>
      </Link>
      <Description>{post.data.description}</Description>
      <Detail>
        {post.data.publishedDate.toLocaleDateString()}
        · 
        <PageViewCounter path={`/${post.id}`}` server:defer><PageViewSkeleton /></PageViewCounter>
      </Detail>
    </Group> 
  ))}
</Section>
