---
import { getCollection, render } from 'astro:content';
import RootLayout from '@/components/layouts/RootLayout.astro';

import Detail from '@cjwilliams/ui/typography/Detail.astro'
import Title from '@cjwilliams/ui/typography/Title.astro';
import Prose from '@cjwilliams/ui/typography/Prose.astro';

import { prepareTagsForDisplay } from '@/utils'
import PageViewCounter from '@/components/PageViewCounter.astro';
import JustifyBetweenLayout from '@/components/layouts/JustifyBetweenLayout.astro';
import PageViewSkeleton from '@/components/PageViewSkeleton.astro';

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map(entry => ({
    params: { slug: entry.id }, props: { entry },
  }));
}

const path = Astro.url.pathname;
const { entry } = Astro.props;
const { Content } = await render(entry);
---
<RootLayout title={`${entry.data.title} | CJ Williams`}>
  <div class="mt-6 flex-col space-y-4">
    <Title>{entry.data.title}</Title>
    <JustifyBetweenLayout>
      <Detail>{entry.data.publishedDate.toLocaleDateString()} · {prepareTagsForDisplay(entry.data.tags)}</Detail>
      <PageViewCounter path={path} server:defer>
        <PageViewSkeleton />
      </PageViewCounter>
    </JustifyBetweenLayout >
    <Prose>
      <Content />
    </Prose>
  </div>
</RootLayout>